* {
    box-sizing: border-box;
}

html {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

.mission {
    background-image: url("../images/img-mission-background.jpg");
    height: 700px;
}